/node_modules
/public
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env

.quasar
.DS_Store
.thumbs.db
/dist
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www
yarn-debug.log*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-workspace
